.btn-volver {
    padding: 12px 35px;
    background-color: #111;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-volver:hover {
    transform: scale(1.05);
    background-color: #707070;
}